html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
	color: #ee3325; /* #ee3325 */
	font-family: 'Lato',sans-serif; /* "Trebuchet MS", Arial, Helvetica, sans-serif */
	font-size: 14px;
	/* padding: 30px 30px 0px 30px; */
	background-image: url('/images/background.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center top;
}

#CONTAINER {
	margin: 0 auto;
	width: 1000px;
	background-color: rgba(0, 0, 0, 0.95);
}

#HEADER_wrapper, #HEADER, #HEADER_separator {
    width: 1000px;
}

#HEADER_wrapper {
	height: 75px;
    margin: 0 auto;
}

#HEADER_wrapper * {
	z-index: 2001;
}

#HEADER {
	/* width: 1000px; */ /* 1160 - 2*border-width */
	/* height: 90px;
	margin: auto;
	margin-bottom: 15px; */
	height: 70px;
	position: fixed;
	top: 0px;
	background-color: black;
}

#HEADER_separator {
    height: 5px;
    position: fixed;
    top: 70px;
	background-color: #ee3325;
}
/*
#CONTENT {
	width: 1000px;
	height: 1200px;
	margin: auto;
}
*/	
#CONTENT_LEFT {
	float: left;
	padding: 20px 5px 20px 20px;
}

#CONTENT_RIGHT {
	text-align: center;
	float: right;
	padding: 20px 20px 20px 5px;
}

#CONTENT_RIGHT .CONTENT_RIGHT_element {
	width: 265px;
	border-style: solid;
	border-width: 2px;
	border-color: #ee3325;
	border-radius:6px 5px;	/* CSS3; corners rounding */
	/* box-shadow: 10px 10px 5px #222; */	/* CSS3; shadows */
	background-color: rgba(0, 0, 0, 0.85);
	margin-top: 15px;
}

#CONTENT_RIGHT .CONTENT_RIGHT_element img{
	width: 265px;
}

#INFO {
	/*
	border-style: solid;
	border-width: 2px;
	border-color: #ee3325;
	border-radius:6px 5px;	CSS3; corners rounding
	box-shadow: 10px 10px 5px #222;	CSS3; shadows
	*/
	width: 670px; /* 630 - 2*margin - 2*border-width */
	/* max-height: 1150px; */ /* 1200 - 2*CONTENT_LEFT.padding-top+bottom */
	/* background-color: rgba(0, 0, 0, 0.93); */
	/* overflow-y: scroll; */
}

#INFO .padding {
	padding: 20px;
}

#INFO h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#NAVI {
	border-style: solid;
	border-width: 1px;
	border-color: #ee3325;
	border-radius:6px 5px;	/* CSS3; corners rounding */
	/* box-shadow: 10px 10px 5px #222; */	/* CSS3; shadows */
	height: 260px;
	background-color: rgba(0, 0, 0, 0.7);
}

#NAVINET {
	background-color: rgba(0, 0, 0, 0.7);
	border-collapse:collapse;
	margin: auto;
	margin-top: 10px;
}

#NAVINET td {
	border-style: solid;
	border-width: 2px;
	border-color: #ee3325;
	width: 46px;
	height: 46px;
	padding: 0;
	margin: 0;
	font-size: 0;	/* to remove break at bottom td beetwen img in table */
}

#NAVINET td img {
	border: 0;
}

#NAVINET td._strefa {
	background: #ee3325;
}

#FOOTER {
	clear: both;
	/* margin: auto;
	width: 1000px; */
	background-color: #606060;
	color: #202020;
}

#FOOTER .footer_top {
	height: 30px;
	background-image: url('/images/footer/grad_top.jpg');
	background-repeat: repeat-x;
}

#FOOTER .padding {
	margin: 5px 30px 5px 30px;
	padding: 10px;
	border-radius:6px 5px;	/* CSS3; corners rounding */
	background-color: #787878;
}

#FOOTER .footer_bottom {
	height: 15px;
}

#FOOTER a {
	text-decoration: none;
	font-weight:bold;
	color: white;
}

#FOOTER a:hover {
	color: #FFFFFF;
}

#ALTNAVI_top {
	/* background-image: url('/images/header/menu.png');
	background-repeat: no-repeat;
	background-position: right center; */
	/* width: 400px; */
	/* height: 70px; */
	height: 100%;
	float: right;
	/* text-align: right;
	padding-top: 35px; */
}

#ALTNAVI_top a {
	border-bottom: 5px solid black;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    padding: 18px 20px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
	color: #fff;
}

#ALTNAVI_top a:hover {
	border-bottom-color: #ee3325;
	color: inherit;
}

#ALTNAVI_top .home_icon {
	border-bottom: none;
}

#ALTNAVI_top .home_icon img {
	position: relative;
	top: 3px;
}

#ALTNAVI_bottom {
	width: 350px;
	float: right;
	text-align: right;
}

h1 {
	margin: 0;
	padding: 0;
	display: inline;
}

hr {
	color: red;
}

img {
	border: 0px;
}

div.clear {
	clear: both;
}

div.flash_notice {
	background: url('/sfDoctrinePlugin/images/tick.png') no-repeat 10px 4px #ee3325;
	border-radius:6px 5px;	/* CSS3; corners rounding */
	color: #000000;
	font-weight: bold;
	padding: 2px 30px;
	margin-bottom: 10px;
}

div.back {
	width: 40px;
	/* background: url('/images/previous.png') no-repeat 10px 4px #ee3325; */
	background-color: rgba(238, 51, 37, 0.7);
	border-radius:6px 5px;	/* CSS3; corners rounding */
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 40px;
	display: inline;
}

div.main_proposition {
	border-style: solid;
	border-width: 2px;
	border-color: #ee3325;
	border-radius:6px 5px;	/* CSS3; corners rounding */
	width: 100%;
	background-color: #000000;
	margin-bottom: 15px;
}

div.main_proposition  table{
	border-collapse:collapse
}

div.main_proposition  td.logo {
    padding: 0px 5px 0px 0px;
}

.fanbar{
	margin: 0px 0px 15px 0px !important;
	padding: 10px 0px;
}

.fanbar > div {
	display: inline-block;
}

.fanbar > div:nth-child(2) {
	padding-left: 20px;
	position: relative;
	top: 3px;
}

/*******************
  Galeria plakatow
*******************/
#POSTER_GALLERY {
    margin: 60px auto;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 630px;
	perspective: 1000px;
	perspective-origin: 80% 50%;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 80% 50%;
}
 
img.poster {
    height: 200px;
    transition-duration: 0.7s;
    transition-property: transform;
	transform:rotateY(60deg);
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: transform;
	-webkit-transform:rotateY(60deg);
    width: 135px;
}

img.poster:hover {
    transition-duration: 0.7s;
    transition-property: transform;
	transform:rotateY(0deg) scale(2,2);
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: transform;
	-webkit-transform:rotateY(0deg) scale(2,2);
    z-index: 100;
}




.tooltip{
    display: inline;
    position: relative;
	font-size: 12px;
	transition: all 0.5s ease 0s;
}

.tooltip:hover:after{
    background: #ee3325;
    background: rgba(238,51,37,0.8);
    border-radius: 5px;
    bottom: 60px;
    color: #fff;
    content: attr(title);
    left: -100%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 110px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #ee3325 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 54px;
    content: "";
    left: 36%;
    position: absolute;
    z-index: 99;
}